/* Made using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Vollkorn:ital,wght@0,500;1,400&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    border: none;
    font-family: 'Vollkorn', serif;
    background-color: rgb(237,230,234);
}

/* Header styling */

header {
    background-color: rgb(86,26,35);
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    color: rgb(237,230,234);
}

#title {
    height: 100%;
    position: relative;
    float: left;
    top: 0;
    width: 35%;
}

#nav {
    height: 100%;
    width: 60%;
    position: relative;
    float: right;
    top: 0;
}

#nav a:hover {
    border: 1px rgb(237,230,234) solid;
    padding: 1px 3px;
    background-color: rgb(86,26,35);
    color: rgb(237,230,234);
}

#active-page {
    color: rgb(86,26,35);
    background-color: rgb(237,230,234);
    padding: 1px 3px;
    font-size: 115%;
}

header a {
    text-decoration: none;
    color: inherit;
}

header ul {
    position: relative;
    float: right;
}

header li {
    list-style-type: none;
    /* position: relative;
    float: right; */
    display: inline-block;
    padding: 1px 3px;
    margin: 2px;
}

/* Footer styling  */

footer {
    background-color: rgb(177,53,71);
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0;
    font-size: 65%;
    color: rgb(237,230,234);
}

#copyright {
    height: 100%;
    width: 30%;
    position: relative;
    text-align: center;
}

#copyright h2 {
    position: relative;
    float: center;
    top: 30%;
}

#footer-links {
    height: 100%;
    width: 65%;
    position: relative;
    float: right;
    bottom: 100%;
    text-align: right;
    padding-right: 5px;
}

#footer-links li {
    list-style-type: none;
    display: inline-block;
    border: 1px rgb(237,230,234) solid;
    padding: 1px 3px;
    margin: 2px;
}

#footer-links a {
    text-decoration: none;
    color: inherit;
}

/* General styling for different elements */

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}