/* Made using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Vollkorn:ital,wght@0,500;1,400&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    border: none;
    font-family: 'Vollkorn', serif;
    background-color: rgb(237, 230, 234);
    color: rgb(45, 16, 120);
}

/* Header styling */

header {
    background-color: rgb(86, 26, 35);
    width: 100vw;
    height: 100px;
    /* 
    Solution to header covering up the top of the first section
    https://stackoverflow.com/questions/16950213/how-to-prevent-fixed-positioned-element-overlapping-others-elements-in-css 
    */
    position: sticky;
    top: 0;
    color: rgb(237, 230, 234);
    z-index: 10;
}

#title {
    height: 100%;
    position: relative;
    float: left;
    top: 0;
    width: 35%;
}

#nav {
    height: 100%;
    width: 60%;
    position: relative;
    float: right;
    top: 0;
}

#nav a:hover {
    border: 1px rgb(237, 230, 234) solid;
    padding: 1px 3px;
    background-color: rgb(86, 26, 35);
    color: rgb(237, 230, 234);
}

#active-page {
    color: rgb(86, 26, 35);
    background-color: rgb(237, 230, 234);
    padding: 1px 3px;
    font-size: 115%;
}

header a {
    text-decoration: none;
    color: inherit;
}

header ul {
    position: relative;
    float: right;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding: 1px 3px;
    margin: 2px;
}

/* Footer styling  */

footer {
    clear: both;
    background-color: rgb(177, 53, 71);
    width: 100vw;
    height: 100px;
    /* change the footer fixed to default static because it works out the best since all of the documents on the website will have enough content to push it to the bottom of the displayed page anyway */
    /* position: static;  */
    /* bottom: 0; */
    font-size: 65%;
    color: rgb(237, 230, 234);
}

#copyright {
    height: 100%;
    width: 30%;
    position: relative;
    text-align: center;
}

#copyright h2 {
    position: relative;
    float: center;
    top: 30%;
}

#footer-links {
    height: 100%;
    width: 65%;
    position: relative;
    float: right;
    bottom: 100%;
    text-align: right;
    padding-right: 5px;
}

#footer-links li {
    list-style-type: none;
    display: inline-block;
    border: 1px rgb(237, 230, 234) solid;
    padding: 1px 3px;
    margin: 2px;
}

#footer-links a {
    text-decoration: none;
    color: inherit;
}

/* Page headings styling for all pages */

#headings {

}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Index styling */

#hero-image {
    height: 450px;
    width: 100vw;
    overflow: hidden;
    /* hero image from https://images.app.goo.gl/V7bazvHXzUHnWecv9 */
    background-color: inherit;
    background-image: url('../images/coins.jpeg');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Album styling */
article {
    height: 400px;
    width: 80%;
    margin: 10%;
}

.desc-coin img {
    height: 300px;
    width: 300px;
    position: relative;
    float: left;
    size: 310px;
    padding: 5px;
}

.desc {
    padding: 5px 10px;
}

.desc a {
    text-decoration: none;
    color: inherit;
}

/* fix to show the found by link in document article without the header covering it up  https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */
:target::before {
    content: "";
    display: block;
    height: 100px;
    /* fixed header height*/
    margin: -100px 0 0;
    /* negative fixed header height */
}

/* Form styling */

form {
    width: 70%;
    position: relative;
    left: 15%;
}
form fieldset {
    width: 95%;
}

#about-you {
    position: relative;
    float: right;
    width: 45%;
}

#opinion {
    position: relative;
    float: left;
    width: 45%;
}

#form-buttons {
    /* clear: both; */
}

#form-buttons button {
    position: relative;
    float: right;
    padding: 5px;
 }

/* Printsheet styling */

#printsheet * {
    background-color: rgb(237, 230, 234);
    color: rgb(45, 16, 120);
}

hr {
    color: rgb(45, 16, 120);
}

table {
    width: 70%;
    position: relative;
    left: 15%;
    border: 2px solid rgb(45, 16, 120);
}

th,
td {
    border: 1px solid rgb(45, 16, 120);
}

/* album styling */
#album li {
    display: inline-block;
    list-style-type: none;
}

#album a {
    text-decoration: none;
}

/* Media queries */
/* Media queries for small screens - 500px and less */
@media screen and (max-width: 500px) {

    /* Form */
    /* https://stackoverflow.com/questions/15935837/how-to-display-a-range-input-slider-vertically */
    /* input[type="range"] {
        transform: rotate(270deg);
    } */
}

/* Media queries for small screens - 900px and less */
@media screen and (max-width: 900px) {

    /* Form */
    form {
        width: 80%;
        left: 10%;
    }
}

/* Media queries for small screens - 1200px and less */
@media screen and (max-width: 1200px) {

    /* Form */
    form {
        width: 70%;
        left: 15%;
    }
}

/* Code snippet from https://stackoverflow.com/questions/3341485/how-to-make-a-html-page-in-a4-paper-size-pages */
@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
        /* change the margins as you want them to be. */
    }
}