/* Made using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Vollkorn:ital,wght@0,500;1,400&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    border: none;
    font-family: 'Vollkorn', serif;
    background-color: rgb(237, 230, 234);
    color: rgb(45, 16, 120);
    max-width: 100vw;
}

* {
    box-sizing: border-box;
}

/* Header styling */

header {
    background-color: rgb(86, 26, 35);
    width: 100vw;
    height: 100px;
    /* 
    Solution to header covering up the top of the first section
    https://stackoverflow.com/questions/16950213/how-to-prevent-fixed-positioned-element-overlapping-others-elements-in-css 
    */
    position: sticky;
    top: 0;
    color: rgb(237, 230, 234);
    z-index: 10;
}

#title {
    height: 100%;
    position: relative;
    float: left;
    top: 0;
    width: 35%;
    left: 3%
}

#nav {
    height: 100%;
    width: 60%;
    position: relative;
    float: right;
    top: 0;
    padding: 1px 3px;
    margin-right: 3vw;
}

#nav a {
    padding: .5vw 1vw;
}

#nav a:hover {
    border: 1px rgb(237, 230, 234) solid;
    background-color: rgb(86, 26, 35);
    color: rgb(237, 230, 234);
    box-sizing: border-box;
}

#active-page {
    color: rgb(86, 26, 35);
    background-color: rgb(237, 230, 234);
}

header a {
    text-decoration: none;
    color: inherit;
}

header ul {
    position: relative;
    float: right;
}

header li {
    list-style-type: none;
    display: inline-block;
    padding: 1px 3px;
    margin: 2px;
}

/* 
fix to show the found by link in document article without the header covering it up  
https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors 
*/
:target::before {
    content: "";
    display: block;
    height: 100px;
    /* fixed header height*/
    margin: -100px 0 0;
    /* negative fixed header height */
}

/* Footer styling  */

footer {
    clear: both;
    background-color: rgb(86, 26, 35);
    width: 100vw;
    height: 50px;
    font-size: 65%;
    color: rgb(237, 230, 234);
}

#copyright {
    height: 100%;
    width: 30%;
    position: relative;
    text-align: center;
}

#copyright h2 {
    position: relative;
    float: center;
    top: 30%;
}

/* Page headings styling for all pages */

#headings {
    margin-left: 10%;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

p {
    margin-left: 15%;
    margin-right: 10%;
    padding: 2px;
}

/* Main section of the pagas */

.main-section {
    min-height: 80vh;
}

/* Index styling */

#hero-image {
    height: 450px;
    width: 100vw;
    overflow: hidden;
    /* hero image from https://images.app.goo.gl/V7bazvHXzUHnWecv9 */
    background-color: inherit;
    background-image: url('../images/coins.jpeg');
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hero-image #headings {
    background-color: rgb(237, 230, 234);
    position: relative;
    float: right;
    top: 55%;
    right: 10%;
    font-size: 130%;
    padding: 5px 15px;
}

#intro div {
    clear: both;
    padding: 1vw;
}

iframe {
    position: relative;
    left: 30%;
    width: 40vw;
    padding: 5%;
}

/* Album styling */

#album li {
    display: inline-block;
    list-style-type: none;
}

#album a {
    text-decoration: none;
}

#articles {
    column-count: 3;
}

#album-nav a {
    color: rgb(86, 26, 35);
}

#album-nav a:hover {
    color: rgb(237, 230, 234);
    background-color: rgb(86, 26, 35);
}

#album-nav i {
    font-size: 15px;
    padding: 10px;
}

.back-up {
    font-size: 50%;
    font-style: italic;
    opacity: 0.5;
    position: relative;
    top: -10px;
}

.back-up:hover {
    opacity: 1;
}

article {
    width: 90%;
    padding: 5%;
}

article:hover {
    background-color: rgb(86, 26, 35, 0.3);
}

article section {
    clear: both;
}

.desc-coin img {
    height: 280px;
    width: 280px;
    padding: 5px;
    border: 1px rgb(86, 26, 35) solid;
}

.desc {
    padding: 5px 10px;
}

.desc a {
    text-decoration: none;
}

.desc table {
    border: 1px white solid;
}

.desc td,
.desc th {
    padding: 7px;
}

/* Printsheet styling */

/* Form styling */

form {
    width: 70%;
    position: relative;
    left: 15%;
}

form fieldset {
    width: 95%;
}

form textarea {
    width: 95%;
}

form text {
    width: 95%;
}

#about-you {
    position: relative;
    float: right;
    width: 45%;
}

#opinion {
    position: relative;
    float: left;
    width: 45%;
}

#form-buttons button {
    position: relative;
    float: right;
    padding: 5px;
    margin: 10px;
}

#submit-button {
    background-color: rgb(177, 53, 71);
    color: rgb(237, 230, 234);
}

#submit-button:hover {
    background-color: rgb(86, 26, 35);
}

#reset-button {
    background-color: rgb(237, 230, 234);
    color: rgb(177, 53, 71);
}

#reset-button:hover {
    color: rgb(86, 26, 35);
}

/* Media queries */
/* Media queries for small screens - 700px and less */
@media screen and (max-width: 700px) {

    /* Header */
    #title {
        font-size: 80%;
    }
    
    #nav {
        font-size: 80%;
    }

    /* Form */
    form {
        width: 95%;
        left: 1%;
    }

    #about-you {
        clear: both;
        width: 100%;
    }

    #opinion {
        clear: both;
        width: 100%;
    }

    #form-buttons {
        clear: both;
    }
}

/* Media queries for small screens - 900px and less */
@media screen and (max-width: 900px) {

    /* Header */
    #title {
        height: 50%;
        clear: both;
        width: fit-content;
    }
    
    #nav {
        height: 50%;
        clear: both;
        width: fit-content;
    }

    /* Index */
    iframe {
        width: 100vw;
        left: 0;
        padding: 0;
    }

    /* Form */
    form {
        width: 90%;
        left: 5px;
    }
}

/* Media queries for small screens - 1200px and less */
@media screen and (max-width: 1200px) {

    /* Album */
    #articles {
        column-width: 300px;
    }

    /* Form */
    form {
        width: 70%;
        left: 15%;
    }
}